@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Italic.woff2') format('woff2'),
        url('/src/assets/fonts/Roboto-Italic.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('/src/assets/fonts/Saira-Thin.woff2') format('woff2'),
        url('/src/assets/fonts/Saira-Thin.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('/src/assets/fonts/Saira-ThinItalic.woff2') format('woff2'),
        url('/src/assets/fonts/Saira-ThinItalic.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

