@import "tailwindcss";

@theme {
  --font-heading: "Montserrat", "sans-serif"
}

:root, html, body {
  @apply
    m-0 p-0 w-full h-full
}

.page-background {
  @apply
    fixed min-h-screen w-screen
    flex items-center justify-center
    overflow-hidden
    bg-gray-900
    -z-10
}

.background-ball {
  @apply
    absolute
    h-[30em] w-[30em]
    lg:h-[50em] lg:w-[50em]
    rounded-full
    blur-3xl opacity-25
}

h2 {
  @apply
    font-heading font-bold text-4xl
}

.card-section {
  @apply
    border-2 rounded-md border-black
    p-4
    bg-gray-100
}